.std-section {
  display: flex;
  gap: 1em;
  justify-content: center;
  margin: 2em 0;
  color: white;
}

.hollow-num {
  border: 1px solid white;
  border-radius: 100%;
  width: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  padding: 0.5em;
}

.filled-num {
  background-color: #bee2fd;
  color: #022959;
}

@media only screen and (min-width: 1440px) {
  .std-section {
    flex-direction: column;
    position: absolute;
    width: 19%;
    padding: 0 2em;
    gap: 2em;
  }

  .step-display-desktop-layout {
  }

  .std-container {
    display: flex;
    align-items: center;
    line-height: 0;
    width: 100%;
    gap: 1em;
  }

  .hollow-num {
    width: 5%;
    height: 1em;
    font-size: 0.875em;
    font-weight: bold;
  }

  .std-step-description-container {
    display: flex;
    flex-direction: column;
  }

  .std-step-title {
    color: #abbcff;
    font-size: 0.75em;
    font-weight: 400;
    line-height: 0.875em;
    text-transform: uppercase;
    margin-block: 0;
    margin-bottom: 0.5em;
  }

  .std-step-description {
    margin-block: 0;
    font-size: 0.875em;
    font-weight: 700;
    line-height: 1em;
    letter-spacing: 0.0625em;
    text-transform: uppercase;
  }
}
