.thanks-section {
}

.info-display-container {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding: 3em 1em;
}

.thank-you-icon {
  margin: 1em 0;
}

.title {
  color: #022959;
  font-weight: 700;
  font-size: 2em;
}

.thank-you-text {
  margin-block: 0;
  text-align: center;
  font-weight: 400;
  color: #9699aa;
  line-height: 1.5625em;
  font-size: 1em;
  margin-bottom: 4em;
}

@media only screen and (min-width: 1440px) {
  .thanks-pane {
    padding: 1em 5em;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  .info-display-container {
    flex-direction: row;
  }
}
